.App {
  text-align: center;
}

.app{
  background-color: black;
}

.frame {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.container {
  margin: 5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: black;
}

.card {
  border-radius: 2em;
  padding: 0 1em;
  background-color: midnightblue;
}

.controller {
  background: #555;
  margin: 0 1em;
  border: 1px solid;
  height: 3em;
  width: 3em;
  border-radius: 100%;
  background: mediumseagreen;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-buttons {
  height: 4em;
  width: 15em;
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-pannel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.pannel {
background-color: black;
  color: white;
}

#infobar{
  color: white;
}